.auth {
  width: 100%;
  height:  calc(100vh - 76px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0,47,75, 0.5), rgba(0,18,30, 0.9)),
              url('../images/back.jpg') center center no-repeat;
  background-size: cover;
}

.login {
  width: 500px;
  padding: 40px;
  background: lighten(#D1DBBD, 15);
  border-radius: 5px;
  text-align: center;
  &__header {
    font-size: 35px;
    color: $main;
  }

  &__input {
    width: 100%;
    margin: 10px 0;
    input {
      padding: 10px;
      border: 1px solid #E1E1E1;
      width: 100%;
    }
    &:focus {
      @include focus;
    }
  }

  &__button {
    width: 100%;
  }

}
