@import 'reset';
@import 'config';
@import 'typography';
@import 'icons';


@mixin focus {
  outline:none;
  border-bottom: 2px solid lighten($main, 20);
  border-top: none;
  border-left: none;
  border-right: none;
}
