<div class="auth">

  <div class="login">

    <h1 class="login__header" ng-bind="::$ctrl.title"></h1>

    <div class="error">
      <span>{{ $ctrl.error.message }}</span>
    </div>

    <form name="loginForm" ng-submit="$ctrl.logIn()">

      <div class="login__input">
        <input type="text"
               required
               ng-minlength="3" ng-maxlength="12"
               placeholder="Username"
               name="name"
               ng-model="$ctrl.user.username"></input>
        <p class="validation" ng-show="loginForm.name.$error.minlength" class="help-block">Username is too short.</p>
        <p class="validation" ng-show="loginForm.name.$error.maxlength" class="help-block">Username is too long.</p>
      </div>
      <div class="login__input">
        <input type="password" required
               name="password"
               placeholder="Password"
               ng-model="$ctrl.user.password"></input>
        <p class="validation" ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Password is required</p>
      </div>
      <button class="button login__button" type="submit">Log In</button>
    </form>
  </div>

</div>
