<div class="comments">
  <div class="comments__wrap">

    <a class="back" ui-sref="app.home"><span class="icon-arrow-left"></span>Go back</a>

    <!--=========== START OF A COMMENT ============-->
    <div class="comment">
      <div class="comment__header">
          <h3>
            <a ng-show="$ctrl.post.link" href="{{$ctrl.post.link}}" target="_blank">
              {{$ctrl.post.title}} <br> <span class="comment__header--link"><span class="icon-globe"></span>{{$ctrl.post.link}}</span>
            </a>
            <span ng-hide="$ctrl.post.link">
              {{$ctrl.post.title}}
            </span>
          </h3>
      </div>

      <div class="message" ng-hide="$ctrl.isLoggedIn()">
        <h3>You need to <a ui-sref="app.login">Log In</a> or <a ui-sref="app.register">Register</a> before you can add a post.</h3>
      </div>
      <!--=========== Form ============-->
      <h3 class="comment__head" ng-show="$ctrl.isLoggedIn()">Add a new comment</h3>
        <form class="form__wrap"
              ng-show="$ctrl.isLoggedIn()"
              ng-submit="$ctrl.addComment()">
              <input class="form__comment" type="text"
              placeholder="Comment"
              ng-model="$ctrl.body"></input>
            <button class="form__button" type="submit">Post</button>
        </form>
      <!--=========== Form ============-->
      <div class="comment__number">
        <span class="comment__number--icon">{{$ctrl.post.comments.length}}</span> Comments
      </div>

      <div class="comment__main"
           ng-repeat="comment in $ctrl.post.comments | orderBy:'-upvotes' | limitTo: $ctrl.limit as results" >
          <div class="comment__main--author">
            <img src="images/profile.png" alt="">
            <div>
              <span class="comment__main--name">{{comment.author}}</span> <br>
              <span class="comment__main--time">{{comment.date | relativeDate }}</span>
            </div>
            <span class="comment__main--upvotes icon-thumbs-o-up"
                  ng-click="$ctrl.isDisabled || $ctrl.incrementUpvotes(comment)"
                  ng-disabled="$ctrl.isDisabled">
                  <span>{{comment.upvotes}}</span>
            </span>
          </div>
          <div class="comment__main--body">
            {{comment.body}}
          </div>
          <!-- <span class="comment__main--upvotes icon-thumbs-o-up"
                ng-click="$ctrl.incrementUpvotes(comment)">
                <span>{{comment.upvotes}}</span>
          </span> -->
      </div>

      <div class="show-more"
           ng-hide="results.length ===$ctrl.post.comments.length">
        <span ng-click="$ctrl.limit = $ctrl.limit +2">Show More</span>
      </div>

    </div>
    <!--=========== END OF A COMMENT ============-->

  </div>
</div>
