<nav class="navbar">
  <div class="navbar__wrap">
    <span class="navbar__logo"><a ui-sref="app.home"><span class="icon-spinner"></span>{{::$ctrl.appName}}</a></span>
    <div  class="navbar__right">
      <a ng-show="$ctrl.isLoggedIn()" class="navbar__element"><span>{{ $ctrl.currentUser() }}</span></a>
      <a ng-show="$ctrl.isLoggedIn()" class="navbar__element" href="" ng-click="$ctrl.logOut()"><span>Log Out</span></a>
      <a ng-hide="$ctrl.isLoggedIn()" class="navbar__element" ui-sref="app.home"><span>Home</span></a>
      <a ng-hide="$ctrl.isLoggedIn()" class="navbar__element" ui-sref="app.login"><span>Log In</span></a>
      <a ng-hide="$ctrl.isLoggedIn()" class="navbar__element" ui-sref="app.register"><span>Register</span></a>
    </div>
  </div>
</nav>
