.form {
  margin: 2%;

  &__wrap {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__text {
    width: 40%;
    padding: 10px;
    border: 1px solid #E1E1E1;
    &:focus {
      @include focus;
    }
    &--focus {
      position: absolute;
      //display: none;
      color: lighten($main, 20);
      &.first {
        top: -15px;
        left: 5px;
      }
      &.secound {
        top: -15px;
        left: calc(40% + 5px);
      }
    }
  }// End of text

  &__comment {
    @extend .form__text;
    width: 80%;
  }

  &__link {
    width: 40%;
    padding: 10px;
    border: 1px solid #E1E1E1;
    &:focus {
      @include focus;
    }
  }

  &__button {
    width: 20%;
    @extend .button;
  }
}
