.message {
  margin: 0 2%;
  background-color: lighten( $error, 10);
  padding: 20px;
  a {
    color: $main;
    font-weight: $bold;
    text-decoration: none;
  }
}

.error {
  margin-top: 10px;
  span {
    color: $error;
  }
}

.validation {
  margin-top: 10px;
  color: $error;
}
